#ifndef POKEPLATINUM_GENERATED_FRONTIER_TRAINER_CLASSES
#define POKEPLATINUM_GENERATED_FRONTIER_TRAINER_CLASSES

static const u16 sFrontierTrainerClasses[] = {
/* =========== MAGIC CONTENT MARKER =========== */
};

#endif // POKEPLATINUM_GENERATED_FRONTIER_TRAINER_CLASSES
