#ifndef POKEPLATINUM_GENERATED_HIDDEN_ITEM_SCRIPTS_H
#define POKEPLATINUM_GENERATED_HIDDEN_ITEM_SCRIPTS_H

/* =========== MAGIC CONTENT MARKER =========== */

#endif // POKEPLATINUM_GENERATED_HIDDEN_ITEM_SCRIPTS_H
