#ifndef POKEPLATINUM_GENERATED_ITEM_BERRY_LIST_H
#define POKEPLATINUM_GENERATED_ITEM_BERRY_LIST_H

#include "constants/items.h"

static const u16 sBerryItemIDs[] = {
/* =========== MAGIC CONTENT MARKER =========== */
};

#endif // POKEPLATINUM_GENERATED_ITEM_BERRY_LIST_H
