#ifndef POKEPLATINUM_GENERATED_REGIONAL_POKEDEX_SIZE_H
#define POKEPLATINUM_GENERATED_REGIONAL_POKEDEX_SIZE_H

/* =========== MAGIC CONTENT MARKER =========== */

#endif // POKEPLATINUM_GENERATED_REGIONAL_POKEDEX_SIZE_H
